.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 250px;
  height: 60px;
  padding-right: 1em;
  padding-left: 1em;

  transition: 0.5s;
  letter-spacing: 0.1em;

  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  font-size: 1.125rem;
  &:hover,
  &:focus {
    background-color: #d66926;
  }
}
.btn--light {
  min-width: 250px;

  border: 2px solid #ffffff;
  background-color: rgba(#ffffff, 0.1);
}

.btn--primary {
  min-width: 350px ;

  border: 2px solid #2d3651;
  background-color: rgba(#2d3651 ,0.8) ;
}

